.u-section-1 .u-sheet-1 {
  min-height: 55px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 20px;
  font-size: 1rem;
  margin-top: 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/254c05a3bd9d9c0ce82745d70409dd75a540f5a7bc5c011601de95ff008a488e57040f3b94c841056e0dec4e85502952f3c184f0752ca854fbb1a3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 470px;
}

.u-section-2 .u-text-1 {
  width: 826px;
  font-size: 1.25rem;
  margin: 159px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Mulish;
  font-size: 3.75rem;
  margin: 6px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 0.875rem;
    margin-top: 56px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 694px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  position: relative;
}

.u-section-3 .u-image-1 {
  min-height: 421px;
  background-image: url("images/a20ec62d00ec4cb0223ad746b193eb96b6473964d04bf0de68ed53114c93a316d1cdac542507b0dd293400bd05326852f0cf431d42bbdaeb2a4404_1280.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 421px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 23px 0 0;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 19px;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.125rem;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px 0 0;
  padding: 0;
}

.u-section-3 .u-image-2 {
  min-height: 421px;
  background-image: url("images/6e44c7020789c590a7de77a6bdd1bedea17c60ab19bbf0141a2e3adac7412e713baf6dd69dfe809787425001631b17d3964d23727bb484a570e407_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 421px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 23px 0 0;
}

.u-section-3 .u-text-5 {
  margin-bottom: 0;
  margin-top: 19px;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.125rem;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px 0 0;
  padding: 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-image-3 {
  min-height: 422px;
  background-image: url("images/5a3130115ffa98ef99e32bb90e4fdece43aca541169ffa5e0ef21907638c0fab992f32b322de4eab9d46943c475a09b67ca42bacad64b0cc3d69a6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 422px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 23px 0 0;
}

.u-section-3 .u-text-8 {
  margin-bottom: 0;
  margin-top: 19px;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.125rem;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px 0 0;
  padding: 0;
}

.u-section-3 .u-image-4 {
  min-height: 422px;
  background-image: url("images/25791f1dfcf7d29f969f5e72bf342ab8d8d7365555337009430f04f33da430201c3e571b523881dca870b8b3705741edad9d99f40dfb319f95b122_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 422px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-text-10 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 23px 0 0;
}

.u-section-3 .u-text-11 {
  margin-bottom: 0;
  margin-top: 19px;
}

.u-section-3 .u-text-12 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.125rem;
}

.u-section-3 .u-btn-4 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px 0 0;
  padding: 0;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 30px;
  margin-bottom: 118px;
}

.u-section-3 .u-image-5 {
  min-height: 421px;
  background-image: url("images/c3453f7ff78eb0008aa2aa97e82e32d1da0040f98275d2e2c826d9b7a6530e672042673dfaa6874066039e073064b5a54dd7f4bd6f3992a782d8bb_1280.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 421px;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-text-13 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 23px 0 0;
}

.u-section-3 .u-text-14 {
  margin-bottom: 0;
  margin-top: 19px;
}

.u-section-3 .u-text-15 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.125rem;
}

.u-section-3 .u-btn-5 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px 0 0;
  padding: 0;
}

.u-section-3 .u-image-6 {
  min-height: 421px;
  background-image: url("images/4fc5c647b8e9d663d8e517836faae5453dfde9b096fdebd28cee2d785b28e9bf60124e236747554ec14c9014c1a25c6c1991e9a4d6e62b9c858848_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-12 {
  min-height: 421px;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-text-16 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 23px 0 0;
}

.u-section-3 .u-text-17 {
  margin-bottom: 0;
  margin-top: 19px;
}

.u-section-3 .u-text-18 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.125rem;
}

.u-section-3 .u-btn-6 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px 0 0;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-3 .u-image-1 {
    min-height: 364px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-3 .u-image-2 {
    min-height: 364px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 364px;
  }

  .u-section-3 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-3 .u-image-3 {
    min-height: 364px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 364px;
  }

  .u-section-3 .u-image-4 {
    min-height: 364px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 364px;
  }

  .u-section-3 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-3 .u-image-5 {
    min-height: 364px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 364px;
  }

  .u-section-3 .u-image-6 {
    min-height: 364px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 364px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-3 .u-image-1 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-3 .u-image-2 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 300px;
  }

  .u-section-3 .u-image-3 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 300px;
  }

  .u-section-3 .u-image-4 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 300px;
  }

  .u-section-3 .u-image-5 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 300px;
  }

  .u-section-3 .u-image-6 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2px;
  }

  .u-section-3 .u-image-1 {
    min-height: 344px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-3 .u-image-2 {
    min-height: 371px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 371px;
  }

  .u-section-3 .u-image-3 {
    min-height: 340px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 340px;
  }

  .u-section-3 .u-image-4 {
    min-height: 367px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 367px;
  }

  .u-section-3 .u-image-5 {
    min-height: 348px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 348px;
  }

  .u-section-3 .u-image-6 {
    min-height: 372px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3870px;
  }

  .u-section-3 .u-image-1 {
    min-height: 690px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 690px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 690px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 690px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    min-height: 690px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    min-height: 690px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2334px;
  }

  .u-section-3 .u-image-1 {
    min-height: 434px;
  }

  .u-section-3 .u-image-2 {
    min-height: 434px;
  }

  .u-section-3 .u-image-3 {
    min-height: 434px;
  }

  .u-section-3 .u-image-4 {
    min-height: 434px;
  }

  .u-section-3 .u-image-5 {
    min-height: 434px;
  }

  .u-section-3 .u-image-6 {
    min-height: 434px;
  }
}